<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.nordicsemi.android.nrftoolbox"
    android:installLocation="auto"
    android:versionCode="35"
    android:versionName="1.14.2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="no.nordicsemi.android.LOG" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".UploadDataActivity"></activity>
        <activity android:name=".WonderActivity" />
        <activity android:name=".WalkthroughMasterActivity.WalkthroughMasterActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".WalkthroughActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-j0ulhf0g8397l0d" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dfu.NotificationActivity"
            android:label="Rhaeos Monitor" />
        <activity
            android:name=".nfc_ble_hybrid.NFC_BLE_HYBRID_Activity"
            android:icon="@drawable/johns_app_launcher"
            android:label="Rhaeos Monitor" />
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/johns_app_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".proximity.ProximityService"
            android:label="@string/proximity_feature_title" />
        <service
            android:name=".dfu.DfuService"
            android:exported="true"
            android:label="@string/dfu_service_title">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".dfu.DfuInitiatorActivity"
            android:label="@string/dfu_service_title"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>